body {
    margin: 10px;
    background-color: rgb(239, 204, 236);
}

#home {
    margin-top: -1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    background-color: rgb(196, 117, 196)
}

header {
    font-size: 30px;
    color: lavender;
    float: left;
    padding-left: 2cm;
}

/* Nav Bar Container */

.topdiv {
    float:right;
    padding-right: 1cm;
}

/* Nav Bar Buttons */
.topmenu {
    color:lightgrey;
    background-color: rgb(119, 27, 115);
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;
}

/* Nav Bar Button Hover */
.topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: purple;
    text-decoration: underline;
}

#all-conversion-sections {
    display: grid;
    justify-content: center;
}

figure {
    float: left;
    justify-self: auto;
    width:200px;
}

img {
    width:200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
}

button {
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    width: fit-content;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    cursor: pointer;
}

.b{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

.temperature {
    border-top-color: green;
}

.weight {
    border-top-color: coral;
}

.distance {
    border-top-color: cyan;
}

legend {
    font-size: 30px;
    font-weight: bolder;
}

.iconbutton {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: azure;
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 0;
}

.iconbutton img {
    width: 30px;
}

footer {
    background-color: rgb(247, 153, 167);
    margin-top: 20px;
}